.slider {
    width: 100%;
    margin-left: 8%;
    overflow: hidden;
    height: 100%;
  }
  
  .slider ul {
    padding: 0;
    display: flex;
    width: 100%; /* // por cada imagen son 100% de width */
    animation: cambio 40s infinite alternate; /* // cambio deefinir abajo */
    animation-timing-function: linear;

  }
  
  .slider li {
    width: 20%;
    list-style: none;
  }
  
  .slider p {
    display: flex;
    align-items: ceil($number: 2);
    margin: 5%;
    font-size: 0.7em;
    color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5% 5% 5%;
    height: 100%;

  }
  
/*   @supports (object-fit: cover) {
    .slider img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  } */
  
  @keyframes cambio {
    0% {
      margin-left: 10;
    }
    20% {
      margin-left: 10;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }